<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<style>
    .header{
        text-align: center;
        margin-top: 30px;
    }
    .container_box{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .box{
        box-sizing: border-box;
        border: 1px black solid;
        background-color:aqua;
        width:200px;
        height: 200px;
        margin: 20px;
       
    }
</style>
<body>
    <h1 class="header" >Welcome!</h1>
    <div class="container_box">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
   
</body>
</html>